{{#if townId}}
    <h1>Edit town</h1>
{{else}}
    <h1>Add town</h1>
{{/if}}
{{#each errors}}
    <div class="alert alert-danger">
        {{msg}}
    </div>
{{/each}}
<form method="post" action="/town/create">
    <div class="form-group">
        <label for="town-name">Town Name</label>
        <input type="text" name="town-name" class="form-control" id="town-name"
               aria-describedby="town-name-help" placeholder="Enter town name" maxlength={{townNameLength}}
               {{#if townName}}value="{{townName}}"{{/if}}>
        <small id="list-name-help" class="form-text text-muted">
            Enter the name of your town as shown in-game
        </small>
    </div>
    <div class="form-group">
        <label for="town-address">Address</label>
        <input type="text" name="town-address" class="form-control" id="town-address"
               aria-describedby="town-address-help" placeholder="DA-XXXX-XXXX-XXXX"
               {{#if townAddress}}value="{{townAddress}}"{{/if}}>
        <small id="town-address-help" class="form-text text-muted">
            Your dream address given to you by Luna. Please include DA-.
        </small>
    </div>
    <div class="form-group">
        <label for="town-description">Description</label>
        <textarea name="town-description" class="form-control" id="town-description"
               aria-describedby="town-description-help">{{townDescription}}</textarea>
        <small id="town-description-help" class="form-text text-muted">
            Be as descriptive as possible. Why would someone love your town? Town descriptions are searchable by
            guests and users.
        </small>
    </div>
    <div class="form-group">
        <label for="town-tags">Tags</label>
        <input type="text" name="town-tags" class="form-control" id="town-tags"
               aria-describedby="town-tags-help" placeholder="Optional tags, separated by commas"
               {{#if townTags}}value="{{townTags}}"{{/if}}>
        <small id="town-tags-help" class="form-text text-muted">
            Tags help people find your town. For example, &quot;cottagecore, horror, minimalist&quot;.
        </small>
    </div>
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
</form>